<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <nav>
      name: <%= product.name%>
      <br />
      </nav>
      <img class="edit-img" src="<%=product.img%>" alt="<%=product.name%>">
      <br />
      In Stock: <%= product.quantity; %><br/>
      price: <%= product.price %>
    <!-- action -->
      <form action="/product/<%=product.id;%>?_method=DELETE" method="POST">
        <input type="submit"  class="submit" value="DELETE"/>
      </form>
      <form action="/product/<%=product.id;%>?_method=PATCH" method="POST">
        <input type="submit" class="submit" value="BUY"><br/>
      </form>
      <a href="/product">Back to Index</a>
</body>
</html>