<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/product">Homepage</a>
    <button>
        <a href="/product/<%=product._id%>/edit">Edit</a><br/>
    </button>

    <nav>
        <a href="/product">Back to product Index</a>
      </nav>
      name: <%= product.name%>
      <br />
      price: <%= product.price %>
    <!-- action -->
      <form action="/product/<%=product.id;%>?_method=DELETE" method="POST">
        <input type="submit"  class="submit" value="DELETE"/>
      </form><br/>
      <form action="/product/<%=product.id;%>?_method=PATCH" method="POST">
        <input type="submit" class="submit" value="BUY"><br/>
      </form>
</body>
</html>